<div class="container ">
		<div class="row top-30">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-default" href="/blog">Go to Home Page</a>
      </div>
    </div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form id="cms">
					<div class="form-group">
						<label for="title">Title:</label>
						<input placeholder="Title of Service" type="text" class="form-control" id="title">
						<br />
						<label for="body">Description of Services:</label>
						<textarea placeholder="Description of the service you are offering" class="form-control" rows="10" id="description"></textarea>
						<br />
						<label for="title">Location of Service:</label>
						<input placeholder="Location" type="text" class="form-control" id="location">
						<br />
						<button type="submit" class="btn btn-success submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>