#baz-header, .userName, .productName {
  color: #ff5a5f;
}

body {
	background-color: #fafafa;
}

#shadow {
  -moz-box-shadow: 0px 3px 3px 3px #ccc;
  -webkit-box-shadow: 0px 3px 3px 3px #ccc;
  box-shadow: 0px 3px 3px 3px #ccc;
}

.nav {
	background-color: #ff5a5f;
}

.nav-link {
	color: white;
	margin-right: 20px;
}

.card-block {
	padding: 12px;
}

.addServiceBtn {
	margin-top: 20px;
}

.card-title {
	color: white;
	background-color: #808284;
}

.btn {
	color: white;
	background-color: #ff5a5f;
	border-color: #ff5a5f;
	margin-top: 10px;
}

.card-desc {
	font-size: 12px;
}